/* React Full Calendar */

/* ツールバーとカレンダーの間の余白 */
.fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 0rem;
}
/* ツールバーの日付 */
.fc .fc-toolbar-title {
    font-size: 0.7rem;
    color: #37362f;
}
/* ツールバーのボタン（共通） */
.fc .fc-button-primary {
    font-size: 0.8rem;
    background-color: white;
    color: #acaba9;
    border: none;
    outline: none;
}

@media screen and (max-width: 1024px) {
    .fc .fc-button-primary {
        font-size: 0.70rem;
        background-color: white;
        color: #acaba9;
        border: none;
        outline: none;
    }
}

/* ツールバー当日ボタン（当日を含まない場合） */
.fc .fc-today-button {
    background-color:transparent;
    color: #37362f;
    border: none;
    outline: none;
}

/* ツールバー当日ボタン（当日を含む場合） */
.fc .fc-today-button:disabled {
    opacity: 1;
    background-color: #fdba74;
    color: white;
    border: none;
    outline: none;
}

/* ツールバー選択済みタイプ */
.fc .fc-button-primary:not(:disabled):active,
.fc .fc-button-primary:not(:disabled).fc-button-active {
    background-color: #fdba74;
    color: white;
    box-shadow: display;
}

/* ツールバー選択中タイプ */
.fc .fc-button-primary:not(:disabled):focus,
.fc .fc-button-primary:not(:disabled).fc-button-focus {
    opacity:1;
    background-color: #fdba74;
    color: white;
    box-shadow: none;
}

/* ツールバー選択中タイプ */
.fc .fc-button-primary:not(:disabled):hover,
.fc .fc-button-primary:not(:disabled).fc-button-hover {
    opacity:1;
    background-color: #fdba74;
    color: white;
    box-shadow: none;
}

/* 土日の欄 */
.fc .fc-day-sat,
.fc .fc-day-sun {
    background-color: #fafafa;
}

/* 枠 */
.fc .fc-scrollgrid {
    border-width: 0 0 0 0; 
}

/* それぞれの日付の枠 */
.fc .fc-col-header-cell {
    font-size: 0.75rem;
    color: rgb(100 116 139);
    border: none;
}

.fc .fc-scrollgrid {
    border-width: 0;
}

.fc .fc-scrollgrid-section > * {
    border: none;
}

.fc .fc-scrollgrid-sync-table {
    border: 1px;
}